{% extends "base.html" %}

{% block content %}

<div class="profile">

    <div class="profile-left">
        <div class="profile-info">
            <div>
                <h5>{{ profile.username }}</h5>
                <p>Регистрация: {{ profile.date_joined|date:'d-m-Y' }}</p>
                <p>Последняя активность: {{ profile.last_login|date:'H:i d-m-Y' }}</p>
            </div>
            <div>
                <h5>Персональная информация</h5>
                <p>Имя: {{ profile.first_name }}</p>
                <p>Фамилия: {{ profile.last_name }}</p>
                <p>Email: {{ profile.email }}</p>
            </div>
            <div>
                <h5>Управление</h5>
                {% if profile.pk == user.pk %}
                <p><a href="{% url 'accounts:edit-profile' pk=profile.pk %}">Edit profile</a></p>
                <p><a href="{% url 'accounts:password_change' %}">Change password</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="profile-right">
        <div>Активность</div>
        <div>
            {% for message in profile.messages.all %}
                    <div>
                        <a href="{% url 'topic' pk=message.topic_id %}">{{ message.topic.name }}</a> - {{ message.created_at }}
                    </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}