* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

#breadcrumbs {
    margin-top: 5px;
    margin-bottom: 5px;
}

#breadcrumbs span::after {
    content: " / ";
}

#breadcrumbs span:last-of-type:after {
    content: "";
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aqua;
}

header a {
    margin-right: 10px;
}

header a.title {
    font-size: 24px;
}

.sections, .topics {
    list-style: none;
}

.section {
    border: 1px solid black;
    margin-bottom: 10px;
}

.section-head {
    background-color: aqua;
    padding: 10px;
}

.section-head,
.section-row,
.topic-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-row {
    padding: 10px;
    min-height: 80px;
}

.topic-row {
    padding: 10px;
    min-height: 60px;
}

.section-row:nth-child(even),
.topic-row:nth-child(even) {
    background-color: lightblue;
}

.section-head .section-info,
.section-row .section-info,
.topic-row .topic-info {
    flex: 3;
}

.section-head .section-messages,
.section-row .section-topics,
.topic-row .topic-messages {
    flex: 1;
}

.section-head .section-last-message,
.section-row .section-last-message,
.topic-row .topic-last-message {
    flex: 1;
}

.create-topic {
    margin-bottom: 5px;
}

.topic h1 {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.message {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
}

.message-head, .message-detail {
    display: flex;
    flex-direction: row;
}

.message-head {
    background-color: lightblue;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.message-author {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid black;
}

.message-body {
    flex: 9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-field {
    margin-bottom: 5px;
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    padding: 5px;
}

form button[type="submit"] {    
    padding: 5px 10px;
    margin-top: 5px;
}

.form-field .errors .errorlist {
    list-style: none;
    color: red;
    font-style: italic;
}
