{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div>
    Don't have an account?<a href="{% url 'accounts:signup' %}">Sign Up</a>
</div>
<div>
    <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
</div>

{% endblock %}