{% extends "base.html" %}
{% block content %}


{% if form.errors %}
    <p class="bg-danger p-2">Incorrect password</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p class="bg-warning p-1">Your account doesn't have access.</p>
    {% else %}
        <p class="bg-secondary">Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'accounts:password_change' %}">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Change Password</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}