<div class="message">
    <div class="message-head">
        <span>{{message.created_at}}</span>
    </div>
    <div class="message-detail">
        <div class="message-author">
            <div>{{ message.author.username }}</div>
            <div>Регистрация {{ message.author.date_joined | date:'d-m-Y' }}</div>
            <div>Сообщений {{ message.author.messages.count }}</div>
        </div>
        <div class="message-body">
            <div>{{ message.text | safe }}</div>
        </div>
    </div>
</div>