{% extends 'base.html' %}

{% block content %}

<h1>{{ topic.name }}</h1>

{% for message in topic.messages.all %}
    <div>
        <div>{{ message.author.username }} - {{ message.created_at }}</div>
        <div>{{ message.text }}</div>
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <form action="{% url 'message-create' topic=topic.pk %}" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Send</button>
    </form>
{% else %}
    <div>Авторизуйтесь что бы написать сообщение</div>
{% endif %}

{% endblock content %}